@charset "utf-8";


* {
      margin: 0;
      padding: 0;
}

body {
      font-size: 16px;
      color:#282828;
 
}

ul,
ol,
li {
      list-style-type: none;
}

img,
fieldset {
    
      vertical-align: middle
}

hr {
      clear: both;
      border: none
}

a {
      color: inherit;
      text-decoration: none
}

table {
      border-collapse: collapse
}

input,
textarea {
      color: inherit;
      font-size: inherit;
      font-family: inherit;
      vertical-align: middle
}